body {
    font-family: 'Raleway', sans-serif;
}

nav {
    border-bottom: 1px solid #d7d6d6;
    border-top: 1px solid #d7d6d6;
}

.nav-highlights {
    border-bottom: 1px solid #d7d6d6;

    .nav-item {

        padding: 10px;
        border-right: 1px solid #d7d6d6;

        .nav-link {
            text-decoration: none;
            color: black;
        }
    }

}

.input-material {
    position: relative;

    label {
        position: absolute;
        top: -12px;
        left: 12px;
        background: $body-bg;

    }
}

.comments {
    position: relative;

    button {
        position: absolute !important;
        top: 72px;
        right: 30px !important;
    }

    .select-star {
        position: absolute;
        top: 105px;
        right: 21px;

    }

}
